.footer {
  position: fixed;
  left: 15%;
  bottom: 1%;
  width: 70%;
  /* background-color: red; */
  color: black;
  text-align: center;
  border: 1px solid gray;
}

.footer-heading {
  position: fixed;
  left: 7%;
  bottom: 6%;
  /* width: 70%; */
  /* background-color: red; */
  color: black;
  /* text-align: center; */
  /* border: 1px solid gray; */
}
